* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(120deg, #3e85e3, #1575f2);
    z-index: 1000;
    transition: all 3s ease;
}

.nav-container .logo:hover {
    transform: scale(1.05);
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size:  1rem;
    transition: all 0.5s ease;
    font-weight: bold;
    background: #002b7a;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a:hover {
   background: #f8f8f8;
   transform: scale(1.06);
   color: black;
}

body {
    margin-top: 8%;
    text-align: center;
    background: linear-gradient(135deg, #3982d5, hsl(206, 96%, 90%));
    background-size: cover;
    background-attachment: fixed;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
    border: 3px dashed black;
    padding: 20px;
    background-color: rgba(166, 225, 255, 0.8);
    font-size: 1.2rem;
}

form h2 {
    margin-bottom: 2rem;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

form button {
    background-color: #1559d8;
    color: black;
    font-weight: bold;
    border: 1px solid #020e23;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #157bf7;
    color: white;
    transform: scale(1.05);
}

.input-group {
    width: 100%
}

.text {
    font-size: 1.1rem;
}

.text a {
    color: #100000;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: #002b7a;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
